
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: #555;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 10px;
    background-color: rgba(0,0,0,0.3);
    /* height: 100%; */
    border-radius: 50%;
    padding: 0px;
    height: 30px;
    width: 30px;
    z-index: 9;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: 10px;
    background-color: rgba(0,0,0,0.3);
    /* height: 100%; */
    border-radius: 50%;
    padding: 0px;
    height: 30px;
    width: 30px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}





@font-face {
    font-family: 'Iglesia'; /*a name to be used later*/
    src: url('fonts/iglesia.61f11946.TTF'); /*URL to font*/
}
body{
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}
.navbar{
	/*box-shadow: 0px 10px 20px -12px rgba(0,0,0,0.6);*/
    /* border-bottom: 1px solid #0090d7; */
    /*z-index: 10;*/
    /*border-left: 5px solid #0090d7; */
}
.logo {
    font-family: 'Iglesia';
    color: #999;
}
.bg-primary-light{
	background-color: #0090d7;	
}
.nav-item{
	font-size: 1rem;
}

.background-contain{
	 background-repeat: no-repeat;
	 background-size: contain; 
	 background-position: center;
}

.partners-logo{
	 height: 100%;
	 opacity: 0.3;
	 filter: grayscale(100%);
}

.grey-small{
	color: #ccc;
    font-size: 0.8rem;
}

.productos-marca{
	border-bottom: 1px solid #EEE;
	overflow-x: hidden;
}

.lista-marcas, .lista-categorias{
	box-shadow: 6px 0px 10px -10px;
}
.lista-marcas{
	z-index: 5;
	min-height: calc(100vh - 108px) !important;
}
.lista-categorias{
	z-index: 4;	
}
.producto{
	box-shadow: 0px 0px 10px -4px;
}
.text-smaller{
	font-size: smaller;
}
.b-r{
	border-right: 1px solid #DDD;
}
.b-t{
	border-top: 1px solid #CCC;
}
.p-20{
	padding: 20px 40px !important;
}
.m-t-50{
	margin-top: 50px;
}
.about-us{
}

.phrase{
	/*font-weight: bolder;*/
	font-style: italic;
	background-color: rgba(0,0,0,0.04);
	color: #AAA;
	font-size: 20px;
	text-align: center;
}
.inline-block{
	display: inline-block;
}
.partner-descrip-container{
	vertical-align: bottom;
	background-size: 130px;
	padding-top: 50px;
	background-position: top; 
	background-repeat: no-repeat;
}
.partner-row{
	display: block;
    color: #000;
}
.bg-more-faded{
	background-color: #EEE !important;
}
.bg-white{
	background-color: #FFF !important;
}
.b-b{
	border-bottom: 1px solid #DDD;
}
.logo{
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-size: 70px;
	background-position: left;
	padding-left: 80px;
}

.about-title{
	color: #AAA;
	font-family: 'Iglesia';
}

.title{
	color: #AAA;
}

.title h1{
	font-weight: normal;
}

.navbar-primary.navbar-inverse .navbar-nav .nav-link {
    color: rgba(255,255,255,0.9);
}

.slick-dots{
	bottom: 10px;
}
.slick-dotted.slick-slider{
	margin-bottom: 0px;
}

.slide-img{
	 background-repeat: no-repeat; 
	 height: calc(400px);
	 background-size: contain; 
	 background-position: center; 
	 background-color: #FFF;
	 margin: 5px;
	/*background-size: cover;*/
}

.shadow{
	box-shadow: 0px 1.5px 5px -2px;
}

.navbar .navbar-brand{
	/*max-width: 50%;*/
	font-size: 2rem; 
	/*overflow: hidden;*/
}

@media screen and (max-width: 400px) {
   .navbar .navbar-brand { 
      font-size: 1.5em; 
   }
}


.slide.ng-enter {
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
	opacity: 0.5;
}

.slide.ng-enter.ng-enter-active {
    opacity: 1;
}


.fotosProductoContainer{
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	z-index: 99;
	width: 100%;
	height: 100%;
}
.fotosProducto{
	position: absolute;
	top: 50px;
	margin: auto;
	left: 0;
	right: 0;
	width: 700px;
	z-index: 100;
	background-color: #FFF;
}
.cerrar-carro{
    position: absolute;
    top: -10px;
    right: -10px;
    color: #FFF;
    background-color: #0275d8;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    border: 2px solid #FFF;
}

.phonelink{
	color: #FFF;
    border-bottom: 1px solid #CCC;
    padding: 15px 0px;
    display: block;
}

























.event{
    width: 100%;
}